In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('customer_churn_prediction_dataset.csv')

In [3]:
dataset.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0001-XXXX,Male,0,Yes,Yes,5,No,Yes,No,No,...,No,No,No,No internet service,Month-to-month,Yes,Credit card,27.43,137.15,Yes
1,0002-XXXX,Female,0,No,No,42,Yes,No phone service,DSL,Yes,...,No,No,No internet service,No internet service,Two year,No,Electronic check,38.28,1607.76,Yes
2,0003-XXXX,Male,0,No,No,61,Yes,No phone service,No,No,...,No,Yes,Yes,No,One year,No,Bank transfer,106.44,6492.84,Yes
3,0004-XXXX,Male,1,No,Yes,22,Yes,No,No,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,92.49,2034.78,No
4,0005-XXXX,Male,1,Yes,Yes,21,No,No,DSL,No,...,No internet service,No,No,No internet service,One year,No,Bank transfer,19.63,412.23,Yes

In [4]:
#Remove Unnecessory columns
dataset = dataset.drop( ['customerID'],axis=1)

In [5]:
dataset.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,Yes,Yes,5,No,Yes,No,No,Yes,No,No,No,No internet service,Month-to-month,Yes,Credit card,27.43,137.15,Yes
1,Female,0,No,No,42,Yes,No phone service,DSL,Yes,Yes,No,No,No internet service,No internet service,Two year,No,Electronic check,38.28,1607.76,Yes
2,Male,0,No,No,61,Yes,No phone service,No,No,Yes,No,Yes,Yes,No,One year,No,Bank transfer,106.44,6492.84,Yes
3,Male,1,No,Yes,22,Yes,No,No,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,92.49,2034.78,No
4,Male,1,Yes,Yes,21,No,No,DSL,No,No,No internet service,No,No,No internet service,One year,No,Bank transfer,19.63,412.23,Yes

In [6]:
# To Check Balance or Imbalance Dataset
dataset["Churn"].value_counts()

Churn
No     161
Yes    139
Name: count, dtype: int64

In [7]:
# Information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            300 non-null    object
 1   SeniorCitizen     300 non-null    int64
 2   Partner           300 non-null    object
 3   Dependents        300 non-null    object
 4   tenure            300 non-null    int64
 5   PhoneService      300 non-null    object
 6   MultipleLines     300 non-null    object
 7   InternetService   300 non-null    object
 8   OnlineSecurity    300 non-null    object
 9   OnlineBackup      300 non-null    object
 10  DeviceProtection  300 non-null    object
 11  TechSupport       300 non-null    object
 12  StreamingTV       300 non-null    object
 13  StreamingMovies   300 non-null    object
 14  Contract          300 non-null    object
 15  PaperlessBilling  300 non-null    object
 16  PaymentMethod     300 non-null    object
 17  MonthlyCharges    300 non-null    float64
 18  TotalCharges      300 non-null    float64
 19  Churn             300 non-null    object
dtypes: float64(2), int64(2), object(16)
memory usage: 47.0+ KB

1)Replace the missing value with central tendency-Mean Median Mode 
2)Entire Row delete
3)Respective to the problem, have to replace the missing values 
4)Consider this as a semi supervised, create a model, so that we can predict the missing values.

In [8]:
dataset.isnull().sum()
#dataset.isna().sum() both are same code

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

df_cleaned = df.dropna()
dataset["salary"].fillna(0,inplace=True)

In [9]:
# Split quan and qual values
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
       # print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
           # print("quan")
            quan.append(columnName)
    return quan,qual

In [10]:
quanQual(dataset)

(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges'],
 ['gender',
  'Partner',
  'Dependents',
  'PhoneService',
  'MultipleLines',
  'InternetService',
  'OnlineSecurity',
  'OnlineBackup',
  'DeviceProtection',
  'TechSupport',
  'StreamingTV',
  'StreamingMovies',
  'Contract',
  'PaperlessBilling',
  'PaymentMethod',
  'Churn'])

In [11]:
quan,qual=quanQual (dataset)

In [12]:
quan

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [13]:
dataset[quan]

     SeniorCitizen  tenure  MonthlyCharges  TotalCharges
0                0       5           27.43        137.15
1                0      42           38.28       1607.76
2                0      61          106.44       6492.84
3                1      22           92.49       2034.78
4                1      21           19.63        412.23
..             ...     ...             ...           ...
295              1      61           42.52       2593.72
296              0      49           22.31       1093.19
297              0      71           59.57       4229.47
298              1       1           31.32         31.32
299              1      13           20.50        266.50

[300 rows x 4 columns]

In [14]:
qual

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [15]:
dataset[qual]

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,Male,Yes,Yes,No,Yes,No,No,Yes,No,No,No,No internet service,Month-to-month,Yes,Credit card,Yes
1,Female,No,No,Yes,No phone service,DSL,Yes,Yes,No,No,No internet service,No internet service,Two year,No,Electronic check,Yes
2,Male,No,No,Yes,No phone service,No,No,Yes,No,Yes,Yes,No,One year,No,Bank transfer,Yes
3,Male,No,Yes,Yes,No,No,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,No
4,Male,Yes,Yes,No,No,DSL,No,No,No internet service,No,No,No internet service,One year,No,Bank transfer,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Female,No,Yes,No,Yes,DSL,No,No internet service,Yes,No internet service,No,No,One year,Yes,Electronic check,No
296,Female,No,No,Yes,No phone service,DSL,No internet service,No,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,Yes
297,Male,No,Yes,Yes,Yes,DSL,No internet service,No,Yes,Yes,No,Yes,Two year,No,Mailed check,Yes
298,Male,Yes,Yes,Yes,Yes,No,Yes,No internet service,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,No
299,Female,Yes,Yes,Yes,Yes,DSL,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,Yes

In [16]:
dataset.describe()

       SeniorCitizen      tenure  MonthlyCharges  TotalCharges
count     300.000000  300.000000      300.000000    300.000000
mean        0.543333   35.783333       67.226800   2477.975767
std         0.498951   21.113400       28.638073   1918.540111
min         0.000000    1.000000       18.450000     30.030000
25%         0.000000   17.000000       42.337500    910.302500
50%         1.000000   36.000000       68.635000   2072.400000
75%         1.000000   53.250000       92.430000   3618.405000
max         1.000000   72.000000      118.640000   8318.880000

In [17]:
# For check these all
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99","Q4:100%","IQR",
                               "1.5Rule","Lesser","Greater","Min","Max"],columns=quan)
for coulmnName in quan:
    descriptive[coulmnName]["Mean"]=dataset[coulmnName].mean()
    descriptive[coulmnName]["Median"]=dataset[coulmnName].median()
    descriptive[coulmnName]["Mode"]=dataset[coulmnName].mode()[0]
    descriptive[coulmnName]["Q1:25%"]=dataset.describe()[coulmnName]["25%"]
    descriptive[coulmnName]["Q2:50%"]=dataset.describe()[coulmnName]["50%"]
    descriptive[coulmnName]["Q3:75%"]=dataset.describe()[coulmnName]["75%"]
    descriptive[coulmnName]["99"]=np.percentile(dataset[coulmnName],99)
    descriptive[coulmnName]["Q4:100%"]=dataset.describe()[coulmnName]["max"]
    descriptive[coulmnName]["IQR"]= descriptive[coulmnName]["Q3:75%"]-descriptive[coulmnName]["Q1:25%"]
    descriptive[coulmnName]["1.5Rule"]=1.5*descriptive[coulmnName]["IQR"]
    descriptive[coulmnName]["Lesser"]=descriptive[coulmnName]["Q1:25%"]-descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Greater"]=descriptive[coulmnName]["Q3:75%"]+ descriptive[coulmnName]["1.5Rule"]
    descriptive[coulmnName]["Min"]=dataset[coulmnName].min()
    descriptive[coulmnName]["Max"]=dataset[coulmnName].max()

In [18]:
descriptive

        SeniorCitizen     tenure MonthlyCharges TotalCharges
Mean         0.543333  35.783333        67.2268  2477.975767
Median            1.0       36.0         68.635       2072.4
Mode                1         26          42.52       2154.8
Q1:25%            0.0       17.0        42.3375     910.3025
Q2:50%            1.0       36.0         68.635       2072.4
Q3:75%            1.0      53.25          92.43     3618.405
99                1.0       72.0       118.3611    7469.4231
Q4:100%           1.0       72.0         118.64      8318.88
IQR               1.0      36.25        50.0925    2708.1025
1.5Rule           1.5     54.375       75.13875   4062.15375
Lesser           -1.5    -37.375      -32.80125  -3151.85125
Greater           2.5    107.625      167.56875   7680.55875
Min                 0          1          18.45        30.03
Max                 1         72         118.64      8318.88

In [19]:
# Check Outliers values
def outliear_check(quan, descriptive):
    Lesser = []
    Greater = []
    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["Lesser"]:
            Lesser.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["Greater"]:
            Greater.append(columnName)
    return Lesser, Greater

In [20]:
Lesser,Greater=  outliear_check(quan, descriptive)

In [21]:
Lesser

[]

In [22]:
Greater

['TotalCharges']

In [23]:
for columnName in quan:
    dataset = dataset[
        (dataset[columnName] >= descriptive[columnName]["Lesser"]) &  
        (dataset[columnName] <= descriptive[columnName]["Greater"])
    ]

In [ ]:
for columnName in Lesser:
    dataset.loc[dataset[columnName] < descriptive[columnName]["Lesser"], columnName] = descriptive[columnName]["Lesser"]

for columnName in Greater:
    dataset.loc[dataset[columnName] > descriptive[columnName]["Greater"], columnName] = descriptive[columnName]["Greater"]

In [ ]:
# Replace the Outliers 
for columnName in Lesser:
        dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in Greater:
        dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [24]:
# Replace after again check outliers values
def outliear_check(quan, descriptive):
    Lesser = []
    Greater = []
    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["Lesser"]:
            Lesser.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["Greater"]:
            Greater.append(columnName)
    return Lesser, Greater

In [25]:
Lesser,Greater=  outliear_check(quan, descriptive)

In [26]:
Lesser

[]

In [27]:
Greater

['TotalCharges']

In [ ]:
df_merged = pd.concat([df_quan, df_qual], axis=1)

In [ ]:
preprocessed = pd.concat([two], axis=1)

In [ ]:
preprocessed.to_csv("preprocessdata.csv",index=False)

In [ ]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [ ]:
#catogorical data convert to numerical data# 
dataset=dataset.astype(int)

In [ ]:
for columnName in dataset.columns:
    print(columnName)

In [ ]:
#show all columns in dataset#
dataset.columns

In [ ]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod']]

In [ ]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['classification_yes']]

In [ ]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [ ]:
X_train

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

In [ ]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [ ]:
y_train